@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:host {
  --primary-blue: #082b75fe;
  --primary-gold: #ffbb00;
  --primary-white: #ffffff;
  --secondary-blue: #1e40af;
}
/*
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
} */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 473px;
  height: 100vh;
  background: var(--secondary-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 0;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.4s ease;
}

.sidebar.closed {
  transform: translateX(100%);
}

/* CABEÇALHO */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 45px;
}
.sidebar-title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
.sidebar-header i {
  margin-bottom: 9px;
  font-size: 30px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sidebar-header i:hover {
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--primary-gold);
}

/* MENU  */
.sidebar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 70px;
  flex-grow: 1;
}

.menu-item {
  background: var(--primary-blue);
  width: 5000px;
  height: 75px;
  padding: 0 30px;
  border-radius: 30px;
  transition: 0.3s;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.menu-item:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* ITEM ACTIVE  */
.active {
  background: var(--primary-gold);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 75px;
  font-weight: 700;
  color: var(--primary-blue);
}

/* PROFILE */
.sidebar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  color: var(--primary-white);
  gap: 10px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ffbb00;
  object-fit: cover;
}

.profile-name {
  font-size: 20px;
  color: var(--primary-white);
  font-weight: 700;
}

/* RESPONSIVIDADE */
@media (max-width: 820px) {
}
